[data-theme="light"] {
    --selection-color: rgb(173, 214, 255);
    --editor-toolbar-main: #fff;
    --editor-toolbar-bg: #2c2c2c;
    --editor-toolbar-btn: rgb(185, 185, 185);
    --editor-toolbar-btn-hover: rgb(66, 66, 66);
    --editor-editor-left: #fff;
    --editor-preview-bg: rgb(243, 243, 243);
    --editor-border-color: #ebedf2;
    --display-p: #222;
    --display-quoto: rgba(0, 0, 0, .05);
    --display-border: #eaedf0;
    --display-odd: rgba(0,0,0,.28);
    --editor-panel-bg: #fff;
    --default-highlight: rgb(173, 214, 255);
    --popup-bg-color: #fff;
    --popup-border: 1px solid #cecece;
    --popup-input-border: rgba(0, 0, 0, .12);
    --popup-box-shadow: rgba(0, 0, 0, 0.16) 0 0 8px 2px;
    --popup-hover-bg: #f2f2f2;
    --line-highlight: #000;
    --code-normal-color: #6e7681;
    --code-normal-bg: #fff;
    --code-amber-popup: #fff;
    --code-amber-shadow: rgba(0, 0, 0, 0.16) 0 0 8px 2px;
    --code-amber-search-border: rgba(0, 0, 0, .08);
    --code-amber-search-border-hint: rgba(0, 0, 0, .2);
    --code-amber-input: #FFFFFF;
    --code-amber-input-border: rgba(0, 0, 0, .12);
    --code-amber-btn-disable: rgba(97, 97, 97, 0.5);
    --code-amber-block-bg: rgba(0, 0, 0, .03);
    --plugin-bg: #fff;
    --plugin-card--active: rgb(228,230,241);
    --plugin-column--border: 1px solid rgba(0, 0, 0, .12);
    --plugin-font--sub: rgba(0,0,0,.6);
}

[data-theme="night"] {
    --selection-color: rgb(38, 79, 120);
    --editor-toolbar-main: #fff;
    --editor-toolbar-bg: rgb(24, 24, 24);
    --editor-toolbar-btn: rgb(185, 185, 185);
    --editor-toolbar-btn-hover: rgb(66, 66, 66);
    --editor-editor-left: rgb(31, 31, 31);
    --editor-preview-bg: rgb(24, 24, 24);
    --editor-border-color: rgb(38, 38, 38);
    --display-p: rgb(204, 204, 204);
    --display-quoto: rgba(110, 118, 129, 0.4);
    --display-border: #2c3135;
    --display-odd: rgba(255,255,255,.28);
    --editor-panel-bg: rgb(24, 24, 24);
    --default-highlight: rgb(38, 79, 120);
    --popup-bg-color: #2a2a2a;
    --popup-border: 1px solid rgba(0, 0, 0, 0.1);
    --popup-input-border: rgba(255, 255, 255, .12);
    --popup-box-shadow: rgba(0, 0, 0, 0.36) 0 0 8px 2px;
    --popup-hover-bg: rgba(90, 93, 94, 0.31);
    --line-highlight: #ccc;
    --code-normal-color: rgb(204, 204, 204);
    --code-normal-bg: hsl(220, 13%, 18%);
    --code-amber-popup: rgb(31, 31, 31);
    --code-amber-shadow: rgba(0, 0, 0, 0.36) 0 0 8px 2px;
    --code-amber-search-border: 1px solid rgba(255, 255, 255, .08);
    --code-amber-search-border-hint: rgba(69, 69, 69, 1);
    --code-amber-input: #2a2a2a;
    --code-amber-input-border: rgba(255, 255, 255, .12);
    --code-amber-btn-disable: rgba(204, 204, 204, 0.5);
    --code-amber-block-bg: rgba(255, 255, 255, .12);
    --plugin-bg: rgb(32,33,35);
    --plugin-card--active: rgb(4,57,94);
    --plugin-column--border: 1px solid rgb(49,49,49);
    --plugin-font--sub: rgba(255,255,255,.6);
}

.lucence-wrapper {
    position: relative;
}

.lucence-wrapper *::selection {
    background-color: var(--selection-color);
}

.toolbar-stat-panel {
    display: flex;
    height: 30px;
    overflow: hidden;
    align-items: center;
}
.stat-head {
    color: var(--editor-toolbar-main);
    padding: 0 20px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #007acc;
}
.stat-head:hover { background: rgb(31,136,217); }
.stat-panel {
    color: var(--display-p);
    display: flex;
    height: 30px;
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 0 25px 0 10px;
    align-items: center;
    background: var(--editor-panel-bg);
    border-top: 2px solid var(--editor-border-color);
}
.stat-panel--left { justify-content: start; height: 28px; }
.stat-panel--right { justify-content: end; height: 28px; }
.stat-panel--right, .stat-panel--left { flex: 1; display: flex; }
.stat-panel--key { cursor: pointer; }
.stat-panel--key { height: 100%; padding: 2px 10px; }
.stat-panel--key i { margin-right: 5px; }
.stat-panel--key.last i { margin-right: 0!important; }
span.stat-panel--key.last { margin-right: -10px; }
.stat-panel--key:hover { background: var(--popup-hover-bg); }
.stat-panel--key a, .stat-panel--key a:hover {
    text-decoration: none;
    color: var(--display-p);
}

.toastui-editor-md-preview .toastui-editor-contents h1 {
    font-size: 2.3rem;
    border-bottom: 1px solid var(--display-border)!important;
}
.toastui-editor-md-preview .toastui-editor-contents h2 {
    font-size: 2rem;
    border-bottom: 1px solid var(--display-border)!important;
}
.toastui-editor-md-preview .toastui-editor-contents h3 { font-size: 1.7rem; border: none!important; }
.toastui-editor-md-preview .toastui-editor-contents h4 { font-size: 1.6rem; border: none!important; }
.toastui-editor-md-preview .toastui-editor-contents h5 { font-size: 1.3rem; border: none!important; }
.toastui-editor-md-preview .toastui-editor-contents h6 { font-size: 1.0rem; border: none!important; }

.toastui-editor-md-preview .toastui-editor-contents blockquote {
    border-radius: 3px;
    background: var(--display-quoto);
}
.toastui-editor-md-code-block-line-background,
.toastui-editor-md-code.toastui-editor-md-marked-text,
.toastui-editor-md-code {
    background: none!important;
}

.toastui-editor-md-preview .toastui-editor-contents blockquote,
.toastui-editor-contents pre {
    padding: .8rem .8rem .6rem .8rem;
}
.toastui-editor-md-preview .toastui-editor-contents blockquote { border: none!important; }
.ProseMirror,
.toastui-editor-contents p,
.toastui-editor-md-preview .toastui-editor-contents blockquote,
.toastui-editor-md-block-quote .toastui-editor-md-marked-text,
.toastui-editor-md-list-item .toastui-editor-md-meta,
.toastui-editor-md-preview .toastui-editor-contents h1,
.toastui-editor-md-preview .toastui-editor-contents h2,
.toastui-editor-md-preview .toastui-editor-contents h3,
.toastui-editor-md-preview .toastui-editor-contents h4,
.toastui-editor-md-preview .toastui-editor-contents h5,
.toastui-editor-md-preview .toastui-editor-contents h6,
.toastui-editor-contents code,
.toastui-editor-md-table .toastui-editor-md-table-cell,
.toastui-editor-md-code.toastui-editor-md-marked-text {
    color: var(--display-p);
    letter-spacing: 1px;
}
.toastui-editor-main .toastui-editor-md-splitter {
    background-color: var(--editor-border-color)!important;
    width: 2px;
}
.toastui-editor-toolbar { height: 47px!important; }
.toastui-editor-defaultUI { border: none!important; }
.toastui-editor-defaultUI-toolbar {
    background: var(--editor-toolbar-bg);
    font-size: 16px;
    border-radius: 0!important;
    padding: 1px 15px!important;
    height: 47px!important;
    border-bottom: 2px solid var(--editor-border-color)!important;
}

.toastui-editor-toolbar-group-tail { display: flex; }
.toastui-editor-defaultUI-toolbar .toastui-editor-toolbar-group { 
    flex-grow: 1;
    align-items: center;
}
.toastui-editor-defaultUI-toolbar button {
    color: var(--editor-toolbar-btn);
    border: none!important;
}
.toastui-editor-defaultUI-toolbar button.fa-solid.fa-moon,
.toastui-editor-defaultUI-toolbar button.fa-solid.fa-sun {
    background: #007acc;
    color: #fff;
}

.toastui-editor-defaultUI-toolbar button:not(:disabled):hover {
    color: var(--editor-toolbar-main);
    background-color: var(--editor-toolbar-btn-hover);
    border: none!important;
}
.toastui-editor-md-mode .toastui-editor-md-vertical-style { background: var(--editor-editor-left); }
.toastui-editor-md-container .toastui-editor { background: var(--editor-editor-left); display: flex; }
.toastui-editor-md-container .toastui-editor-md-preview {
    padding: 0;
    overflow: unset;
    color: var(--display-p);
    background: var(--editor-preview-bg);
}

.toastui-editor-contents .task-list-item:before { top: 4px; }
.toastui-editor-md-container .toastui-editor-md-preview .toastui-editor-contents,
.toastui-editor-md-heading1,
.toastui-editor-md-heading2,
.toastui-editor-md-heading3,
.toastui-editor-md-heading4,
.toastui-editor-md-heading5,
.toastui-editor-md-heading6,
.toastui-editor-defaultUI .ProseMirror {
    height: 100%;
    font-size: 18px;
    padding: 5px 10px 5px 0;
    overflow-y: unset;
    overflow-x: unset;
}
.toastui-editor-md-container .toastui-editor-md-preview .toastui-editor-contents {
    white-space: nowrap;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    text-wrap: initial;
    overflow-x: auto;
    padding: 5px 25px!important;
}

.toastui-editor-contents > :last-child {
    margin-bottom: 20px;
}

.toastui-editor-defaultUI .ProseMirror {
    word-wrap: break-word;
    word-break: break-all;
    width: calc(100% - 76px);
    z-index: 1;
}
.toastui-editor-contents .toastui-editor-md-preview-highlight:after {
    background-color: transparent!important;
    padding: 5px 25px 5px 0!important;
}

.toastui-editor-md-container .toastui-editor::-webkit-scrollbar,
.toastui-editor-md-container .toastui-editor-md-preview .toastui-editor-contents::-webkit-scrollbar {
    width: 10px;
}
.toastui-editor-md-container .toastui-editor::-webkit-scrollbar-button,
.toastui-editor-md-container .toastui-editor-md-preview .toastui-editor-contents::-webkit-scrollbar-button {
    display: none;
}
.toastui-editor-md-container .toastui-editor::-webkit-scrollbar-track { 
    background-color: var(--editor-editor-left); 
}
.toastui-editor-md-preview::-webkit-scrollbar-track { 
    background-color: var(--editor-preview-bg); 
}
.toastui-editor-md-container .toastui-editor::-webkit-scrollbar-thumb,
.toastui-editor-md-container .toastui-editor-md-preview .toastui-editor-contents::-webkit-scrollbar-thumb {
    background: var(--editor-border-color);
}

.toastui-editor-defaultUI-toolbar *,
.toastui-editor-md-container .toastui-editor,
.toastui-editor-main .toastui-editor-md-splitter,
.toastui-editor-md-container .toastui-editor-md-preview,
.toastui-editor-md-container .toastui-editor-md-preview .toastui-editor-contents { 
    transition: all .2s ease; 
}
.toastui-editor-md-container .toastui-editor {
    overflow-y: auto;
    overflow-X: hidden;
}
.editor-line-number {
    width: 76px;
    height: 100%;
    padding: 5px 18px 5px 0;
}
.editor-line-number::-webkit-scrollbar {
    display: none;
}
.editor-line-number .line-item {
    cursor: default;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
    font-family: "Cascadia Code", "PingFang SC", Consolas, "Courier New", monospace, Consolas, "Courier New", monospace;
}
.editor-line-number .line-item.line-highlight {
    color: var(--line-highlight)!important;
}

.toastui-editor-md-delimiter, 
.toastui-editor-md-thematic-break, 
.toastui-editor-md-link, 
.toastui-editor-md-table, 
.toastui-editor-md-block-quote,
.editor-line-number .line-item {
    color: #6e7681;
}

.toastui-editor-md-code-block-line-background.start, .toastui-editor-md-custom-block-line-background.start {
    margin-top: 0!important;
}

.toastui-editor-contents ul>li:before { margin-top: 12px; }

.toastui-editor-md-preview .toastui-editor-contents h1,
.toastui-editor-md-preview .toastui-editor-contents h2,
.toastui-editor-md-preview .toastui-editor-contents h3,
.toastui-editor-md-preview .toastui-editor-contents h4,
.toastui-editor-md-preview .toastui-editor-contents h5,
.toastui-editor-md-preview .toastui-editor-contents h6 {
    padding: 20px 0 0;
    margin: 0;
    line-height: 1.3;
}
.toastui-editor-contents p { line-height: 1.6; text-wrap: initial; }
.toastui-editor-contents blockquote,
.toastui-editor-contents pre,
.toastui-editor-contents p,
.toastui-editor-contents ol,
.toastui-editor-contents ul {
    margin: 1rem 0 0;
}

.toastui-editor-contents table {
    color: var(--display-p);
    font-size: 15px;
    margin: 1.5rem 0 0;
    display: block;
    overflow-x: auto;
    width: 100%;
    word-wrap: normal;
    border: none;
}
.toastui-editor-contents table thead th {
    color: var(--display-p);
    padding: .5rem;
    border: none;
    border-bottom: 2px solid var(--display-quoto);
    border-top: none;
    height: fit-content;
    background: transparent;
    font-weight: bold;
}
.toastui-editor-contents table tbody tr td {
    color: var(--display-p);
    width: 999px;
    padding: .5rem;
    text-align: left;
    height: fit-content;
    vertical-align: top;
    border: none;
    border-bottom: 1px solid var(--display-quoto);
    border-top: 1px solid var(--display-quoto);
    background: transparent;
}
.toastui-editor-contents table+* { margin-top: 2rem; }
.toastui-editor-contents table tbody tr td p {
    margin: 3px 0 0;
    text-align: left;
    line-height: 1.6;
    font-size: 16px;
}
.toastui-editor-contents th.toastui-editor-md-preview-highlight,
.toastui-editor-contents td.toastui-editor-md-preview-highlight {
    color: var(--display-p);
    background-color: var(--default-highlight);
}

.toastui-editor-popup {
    border: var(--popup-border);
    background-color: var(--popup-bg-color);
    box-shadow: var(--popup-box-shadow);
    border-radius: 4px;
}
.toastui-editor-popup-body {
    padding: 8px;
}

.popup-inner--head,
.popup-tableDiv--display {
    color: var(--display-p);
    font-size: 14px;
    display: flex;
    height: 22px;
    cursor: default;
}
.popup-inner--head span.popup-head--title {
    display: inline-block;
    flex: 1;
}
.popup-inner--head .popup-head--btn-group {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
}
.popup-head--btn-group i {
    display: flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.popup-inner--container {
    padding-top: 8px;
    color: var(--display-p);
    font-size: 16px;
}

.heading-item:hover,
li.emoji-item:hover,
.popup-head--btn-group i:hover {
    background: var(--popup-hover-bg);
}

.heading-item {
    cursor: pointer;
    padding: 2px 3px;
    border-radius: 3px;
    transition: all .15s ease;
}
.heading-item:hover {
    padding-left: 8px;
}

.toastui-editor-toolbar-group button.active {
    color: #007acc;
}
ul.emoji-list {
    font-size: 20px;
    list-style: none;
    text-align: left;
    width: 100%;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
ul.emoji-list li.emoji-item {
    border-radius: 3px 3px;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}

.popup-tableDiv--main { width: fit-content; }
.popup-tableDiv--main .popup-tableDiv--row { display: flex; }
.popup-tableDiv--main span.popup-tableDiv--cell.active { background: var(--selection-color); }
.popup-tableDiv--main span.popup-tableDiv--cell {
    border: 1px solid var(--display-p);
    display: block;
    cursor: pointer;
    height: 20px;
    padding: 3px 5px;
    width: 20px;
    margin: 1px;
}

.link-wrapper span { margin-bottom: 8px; display: block; }
.toastui-editor-popup-body input[id^=link-ipt],
.toastui-editor-popup-body input[id^=image-ipt] {
    margin-bottom: 8px;
    background: inherit;
    border-radius: 4px!important;
    outline: none;
    border: 1px solid var(--popup-input-border);
    width: 100%;
    color: #ccc;
}
.toastui-editor-popup-body input[id^=link-ipt]:focus,
.toastui-editor-popup-body input[id^=image-ipt]:focus {
    outline: none;
    width: 100%;
    border: 1px solid #0078d4;
}

.toastui-editor-defaultUI button[id^=link-btn--confirm],
.toastui-editor-defaultUI button[id^=image-btn--confirm] {
    background: #0078d4;
    padding: 4px 13px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 14px;
    height: 30px;
}
.toastui-editor-defaultUI button[id^=link-btn--confirm]:hover,
.toastui-editor-defaultUI button[id^=image-btn--confirm]:hover {
    background: rgba(0, 120, 212, 0.9);
}

.toastui-editor-md-custom-block-line-background {
    background-color: transparent;
    color: var(--display-p);
    font-size: 18px;
}
.toastui-editor-md-custom-block { color: var(--display-p); }
.toastui-editor-md-custom-block .toastui-editor-md-meta,
.toastui-editor-md-custom-block .toastui-editor-md-delimiter { color: #999; }

/* code block reviewer */

pre {
    --code-bracket: rgb(231, 185, 49);     /* bracket */
    --code-keyword: rgb(206, 141, 97);     /* keyword */
    --code-method: rgb(86, 168, 245);      /* method function */
    --code-comment: rgb(95, 130, 107);     /* comment */
    --code-comment-tag: rgb(102, 162, 99); /* comment highlight */
    --code-string: rgb(106, 171, 115);     /* string */
    --code-annotation: rgb(179, 174, 96);  /* annotation */
    --code-variable: rgb(199, 125, 187);   /* variable */
}
pre.hljs {
    word-wrap: break-word;
    text-wrap: initial;
    overflow-x: auto;
    display: block;
    white-space: pre;
}
pre.hljs,
.hljs-title.class_,
.hljs-type,
.hljs-operator { 
    color: var(--code-normal-color)!important;
}
.toastui-editor-contents code,
.toastui-editor-contents pre {
    border-radius: 3px;
    background: var(--code-normal-bg);
}
.hljs-keyword, 
.hljs-meta .hljs-keyword, 
.hljs-template-tag, 
.hljs-template-variable, 
.hljs-variable.language_ {
    color: var(--code-keyword)!important;
}
.hljs-title, 
.hljs-title.class_.inherited__, 
.hljs-title.function_ {
    color: var(--code-method)!important;
}
.hljs-code, 
.hljs-comment, 
.hljs-formula {
    color: var(--code-comment)!important;
    font-style: italic!important;
}
.hljs-doctag {
    color: var(--code-comment-tag)!important;
    font-style: italic!important;
}
.hljs-meta {
    color: var(--code-annotation)!important;
}
.hljs-variable {
    color: var(--code-variable)!important;
}
.hljs-string {
    color: var(--code-string)!important;
}

.toastui-editor-contents pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.toastui-editor-contents pre::-webkit-scrollbar-button {
    display: none;
}
.toastui-editor-contents pre::-webkit-scrollbar-track {
    background: var(--code-normal-bg);
    border-radius: 3px;
}
.toastui-editor-contents pre::-webkit-scrollbar-thumb {
    background-color: var(--code-normal-color);
    border-radius: 3px;
}

/* search engine */

.amber-popup .amber-popup--search {
    display: flex;
    position: absolute;
    right: 15px;
    top: 52px;
    color: var(--display-p);
    background: var(--code-amber-popup);
    box-shadow: var(--code-amber-shadow);
    -moz-box-shadow: var(--code-amber-shadow);
    border-radius: 4px;
    border: 1px solid var(--code-amber-search-border);
    border-left: none;
    padding-right: 4px;
}
.amber-popup .amber-popup--search .amber-popup--ahead {
    display: flex;
    width: 100%;
}
.amber-popup .amber-popup--search .amber-popup--group {
    display: flex;
    background: var(--code-amber-input);
    border: 1px solid var(--code-amber-input-border);
    border-radius: 3px;
    padding: 0 2px;
}
.amber-popup--ahead #amber-search--input,
.amber-popup--ahead #amber-search--replacing {
    width: 200px;
    font-size: 14px;
    padding-left: 4px;
    outline: none;
    background: inherit;
}
.amber-popup .amber-popup--search .amber-popup--group:focus-within {
    border: 1px solid #0078d4;
}
.amber-popup--ahead .amber-popup--btn i,
.amber-popup--ahead .amber-popup--regular,
.amber-popup--ahead .amber-popup--capitalization {
    width: 20px;
    height: 20px;
    margin: 2px;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
}
.amber-popup--ahead .amber-popup--btn i:not(.disable),
.amber-popup--ahead .amber-popup--regular:not(.disable),
.amber-popup--ahead .amber-popup--capitalization:not(.disable),
.amber-popup--expander:not(.disable) {
    transition: .2s all ease;
}
.amber-popup--ahead .amber-popup--btn i:not(.disable):hover,
.amber-popup--ahead .amber-popup--regular:not(.disable):hover,
.amber-popup--ahead .amber-popup--capitalization:not(.disable):hover,
.amber-popup--expander:not(.disable):hover {
    background: rgba(184, 184, 184, 0.31);
}
.amber-popup--ahead .amber-popup--result {
    display: flex;
    font-size: 14px;
    justify-content: start;
    align-items: center;
    padding: 0 6px;
    min-width: 84px;
    cursor: default;
}
.amber-popup--btn { display: flex; }
.amber-popup--ahead .amber-popup--btn i { position: relative; top: 1px; }
.amber-popup--ahead .disable {
    color: var(--code-amber-btn-disable);
    cursor: default!important;
}

#amber-highlight--group {
    position: absolute;
    z-index: 0;
}
#amber-highlight--group .amber-highlight--item {
    height: 27px;
    background-color: rgba(255,165,0,.25);
    pointer-events: none;
    position: absolute;
}
.amber-popup--ahead .amber-popup--regular.active,
.amber-popup--ahead .amber-popup--capitalization.active {
    background: rgba(36, 137, 219, 0.51);
    border: 1px solid #2488db;
}

.amber-popup--replace { margin-top: 4px; }
.amber-popup--ahead .codicon { font-size: 18px; }
.amber-popup--expander {
    width: 20px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease;
}
.amber-popup--width_expander {
    cursor: e-resize;
    background: var(--code-amber-search-border-hint);
    width: 4px;
    border-radius: 3px 0 0 3px;
    transition: all .2s ease;
}
.amber-popup--width_expander:hover { background: rgb(0,120,212); }
.amber-popup--padding { padding: 4px 0; }

/* mermaid */

.mermaid.mermaid-box { margin-top: 20px; }
.mermaid.mermaid-box svg {
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 5px;
    background: var(--code-amber-block-bg);
}
.mermaid.mermaid-box svg #flowchart-pointEnd path,
.mermaid.mermaid-box svg #arrowhead path,
.mermaid.mermaid-box svg .edgePaths path,
.mermaid.mermaid-box svg .cluster rect,
.mermaid.mermaid-box svg text.messageText {
    fill: var(--display-p)!important;
}
.mermaid.mermaid-box svg #flowchart-pointEnd path,
.mermaid.mermaid-box svg #arrowhead path,
.mermaid.mermaid-box svg .messageText,
.mermaid.mermaid-box svg .loopText,
.mermaid.mermaid-box svg .loopText > tspan,
.mermaid.mermaid-box svg line {
    stroke: var(--display-p)!important;
}

.toastui-editor-md-list-item-style.toastui-editor-md-list-item-odd {
    color: var(--display-odd)!important;
    font-weight: normal!important;
}

.lucency-latex { text-align: center; }

/* plugin module */

#lucence-plugin--store {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(86,88,105,.7);
    display: flex;
    align-items: center;
}

#lucence-plugin--store .lucence-plugin--container {
    max-width: 1350px;
    height: 75%;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 3px;
    background: var(--plugin-bg);
}
#lucence-plugin--store .lucence-plugin--container .lucence-plugin--head {
    display: flex;
    width: 100%;
    padding: 8px 10px 8px 21px;
    background: var(--editor-toolbar-bg);
    border-bottom: var(--plugin-column--border);
    border-radius: 3px 3px 0 0;
}
.lucence-plugin--head .plugin-head--close,
.lucence-plugin--head .plugin-head--title {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(204, 204, 204);
}
.lucence-plugin--head .plugin-head--title {
    justify-content: start;
    text-align: start;
}
.lucence-plugin--head .plugin-head--title span {
    font-size: 90%;
    font-weight: normal;
    color: #999;
    margin-left: 10px;
}
.lucence-plugin--head .plugin-head--close {
    justify-content: end;
    text-align: end;
}
.lucence-plugin--head .plugin-head--close .closable {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.lucence-plugin--head .plugin-head--close .closable:hover {
    color: var(--editor-toolbar-main);
    background: var(--editor-toolbar-btn-hover);
}
.lucence-plugin--body {
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    display: flex;
    border-radius: 0 0 3px 3px;
    background: var(--editor-editor-left);
}
.lucence-plugin--body .lucence-plugin--list {
    width: 380px;
    border: var(--plugin-column--border);
    border-radius: 3px;
}
.lucence-plugin--body .lucence-plugin--detail {
    width: 920px;
    padding: 10px 15px;
    margin-left: 10px;
    border: var(--plugin-column--border);
    border-radius: 3px;
    color: var(--display-p);
}
.lucence-plugin--card:first-child { border-radius: 3px 3px 0 0; }
.lucence-plugin--card:last-child { border-radius: 0 0 3px 3px; }
.lucence-plugin--card {
    display: flex;
    width: 100%;
    height: 78px;
    padding: 12px;
    cursor: pointer;
}
.lucence-plugin--card:hover { background: var(--popup-hover-bg); }
.lucence-plugin--card.active { 
    cursor: default!important;
    background: var(--default-highlight)!important; 
}
.lucence-plugin--card .left-column {
    height: 54px;
    width: 54px;
    display: flex;
    align-items: center;
}
.lucence-plugin--card .left-column img {
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
.lucence-plugin--card .right-column {
    flex: 1;
    height: 100%;
    padding-left: 10px;
    position: relative;
}
.lucence-plugin--card .right-column p { color: var(--display-p); }
.lucence-plugin--card .right-column .plugin-info--title {
    line-height: 18px;
    font-weight: 700;
    font-size: 18px;
}
.lucence-plugin--card .right-column .plugin-info--simple {
    position: absolute;
    line-height: 17px;
    font-size: 14px;
    bottom: 0;
    color: var(--plugin-font--sub);
}

p.plugin-detail--title {
    height: 30px;
    position: relative;
    font-size: 26px;
    font-weight: bolder;
}
p.plugin-detail--title span {
    margin-left: 8px;
    font-size: 16px;
    line-height: 14px;
    font-weight: normal;
    background-color: hsla(0,0%,50.2%,.17);
    font-family: Consolas,"Courier New",monospace;
    border-radius: 4px;
    padding: 2px 8px 3px 6px;
    display: inline-block;
    position: absolute;
    top: 8px;
}

.plugin-detail--subject {
    font-size: 15px;
    white-space: nowrap;
    height: 24px;
    line-height: 26px;
    margin-top: 10px;
}
.plugin-detail--subject span a { color: #007acc; cursor: pointer; }
.plugin-detail--subject span:not(:first-child):not(:empty) {
    border-left: 1px solid hsla(0,0%,50.2%,.7);
    margin-left: 14px;
    padding-left: 14px;
}

.action-container {
    margin-top: 10px;
    white-space: nowrap;
    height: 26px;
}
.action-container .action-list {
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
}

.action-container .action-list li.action-item {
    margin-right: 10px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

li.action-item a.action-label {
    height: 22px;
    border-radius: 3px 0 0 3px;
    font-weight: 600;
    max-width: 300px;
    line-height: 12px;
    margin: 2px 0 2px 0;
    background: rgb(0,95,184);
    color: #fff;
    font-size: 13px;
    padding: 4px 5px 5px 5px;
    display: flex;
    align-items: center;
}

li.action-item div.action-separator {
    height: 22px;
    background: rgb(0,95,184);
    display: flex;
    align-items: center;
    cursor: default;
}
li.action-item div.action-separator div {
    height: 16px;
    width: 1px;
    background: rgba(255, 255, 255, 0.4);
}
li.action-item div.action-icon {
    height: 22px;
    background: rgb(0,95,184);
    color: #fff;
    border-radius: 0 3px 3px 0;
    line-height: 12px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 1px 5px 0 5px;
}

li.action-item:hover a.action-label,
li.action-item:hover div.action-separator,
li.action-item:hover div.action-icon {
    background: rgb(2,88,168);
}

.plugin-detail--head { padding: 0 8px; }
.plugin-detail--body { 
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 114px);
}
.detail-bar {
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    border-bottom: var(--plugin-column--border);
}
.detail-bar .view-bar {
    justify-content: normal;
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
}
.detail-bar .view-bar li.bar-item {
    cursor: pointer;
    position: relative;
    padding: 0 15px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    background: none!important;
    border-radius: 0!important;
    display: flex;
    color: var(--plugin-font--sub);
}
.detail-bar .view-bar li.bar-item:hover { color: var(--display-p); }
.detail-bar .view-bar li.bar-item.active {
    color: var(--display-p)!important;
    border-bottom: 1px solid #0078d4!important;
}

.bar-item--detail {
    padding: 12px 8px;
    height: 100%;
    font-size: 18px;
    flex-shrink: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.bar-item--detail::-webkit-scrollbar { width: 6px; }
.bar-item--detail::-webkit-scrollbar-button { display: none; }
.bar-item--detail::-webkit-scrollbar-track { background-color: var(--editor-editor-left); }
.bar-item--detail::-webkit-scrollbar-thumb { background: var(--popup-input-border); }

/* Extension action 2 */
li.ext-list--column { margin-bottom: 10px; }
.ext-list--title {
    font-size: 15px;
    font-weight: bold;
    background: var(--popup-hover-bg);
    border-radius: 3px;
    padding: 3px 8px;
    cursor: pointer;
    color: var(--plugin-font--sub);
}
.ext-list--title:hover { color: var(--display-p); }
.ext-list--title i { margin-right: 5px; width: 10px; }

table.ext-list--child_list {
    padding-left: 20px;
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    cursor: default;
}
table.ext-list--child_list tr td,
table.ext-list--child_list tr th {
    width: 33.3%;
    padding: 3px 16px 3px 4px;
}
table.ext-list--child_list thead tr,
table.ext-list--child_list tbody tr:nth-child(even) {
    background-color: hsla(0,0%,51%,.04);
}
table.ext-list--child_list tbody tr:hover {
    background-color: hsla(0,0%,50.2%,.15);
}
table.ext-list--child_list tbody tr td code {
    border-radius: 3px;
    background: #8080802b;
    padding: 1px 4px;
}

/* unselectable */

.unselectable {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}
